apps/framework/dice-rolling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Project">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PropertyGroup" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TargetFramework" type="xs:string" />
                            <xs:element name="EnableDynamicLoading" type="xs:string" />
                            <xs:element name="RootNamespace" type="xs:string" />
                            <xs:element name="Nullable" type="xs:string" />
                            <xs:element name="GenerateDocumentationFile" type="xs:string" />
                            <xs:element name="PublishAot" type="xs:string" />
                            <xs:element name="CopyLocalLockFileAssemblies" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ItemGroup" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TrimmerRootAssembly" minOccurs="0"
                                maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Include" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PackageReference" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Include" type="xs:string" use="required" />
                                    <xs:attribute name="Version" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Sdk" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>